->int {
    return 45876;
}

->float {
    return 3.1415;
}

->double {
    return 4.583297345;
}

->string {
    return "hello, world!";
}

 ->true {
    # TODO: return actual true keyword
    return 1 == 1;
 }

 ->false {
    # TODO: return actual false keyword
     return 1 != 1;
 }

