
->left {
    return 1 == 1 ? "works!" : "error!";
}

->right {
    return 1 != 1 ? "error!" : "works!";
}

->inner_left {
    return 1 == 1 ? 5 == 5 ? "works!" : "error!" : "error!";
}

->inner_right {
    return 1 == 2 ? "error!" : 6 == 6 ? "works!" : "error!";
}
