

->neg_int {
    return -578957;
}

->neg_float {
    return -3.1415;
}

->neg_double {
    return -656788.44878947897;
}

->dbl_neg_int {
    return -(-1);
}

->dbl_neg_float {
    return -(-3.1415);
}

->dbl_neg_double {
    return -(-3487.1415473856438);
}

