
->string {
    var string t = "hello, world!";
    return t;
}

->int {
    var int t = 5068593;
    return t;
}

->float {
    var float t = 50.68593;
    return t;
}

->double {
    var double t = 50.685934584;
    return t;
}

# TODO: boolean variables

