
typedf Integer = int;

fn @construct Integer(int value) : Integer {
    return value;
}

fn Integer.getInt() : int {
    return (int)self;
}

->main {
    var int expr = (5 - 2) * 5;
    var int nExpr = -expr;
    var Integer test = new Integer(nExpr);
    return test.getInt();
}

