@require"integer"

fn @cast(int) : float {
    # Dummy
    return 3.1415;
}

->main {
    var Integer a = new Integer(50);
    var Integer b = new Integer(100);
    var Integer res = a + b;
    return (string)res;
}

