@require"std/convert"
@require"std/io"

fn factorial(int n) : int {
    if (n == 0) return 1;
    if (n == 1) return 1;
    return n * factorial(n - 1);
}

->main {
    var float PI = 3.1415;
    var int factor = 1;
    var bool is_good = true;
    if (is_good) {
        println("is_good is true!");
    } else {
        println("is_good is false!");
    }
    return PI + itof(factor);
}

->fact {
    var int res = factorial(5);
    println("Factorial of 5 is " + itos(res));
    return res;
}

->ask_name {
    print("Enter your name: ");
    var string name = getline();
    println("Nice to meet you, " + name + "!");
    return name;
}

->strlen {
    var string msg = "Hello, World!";
    print("Message to get length of: ");
    println(msg);
    return strlen(msg);
}

