@require"math/floats"
@require"negative"

fn main() : string {
    var string compare = "ms1";
    if (compare == "msg") {
        return "compare is 'msg'.";
    } else if (compare == "ms1") {
        return "compare is just 'ms1'.";
    } else {
        return "compare is something else.";
    }
    return "should be unreachable!";
}

->main{
    return main();
}

->wheel {
    return getNegativeFloat(3.1415);
}

