@require"std/io"
@require"std/convert"

typedf Integer = int;

fn @construct Integer(int initialValue) {
    return initialValue;
}

typedf Number = Integer;

fn @construct Number(int initialValue) {
    var Integer integerVal = new Integer(initialValue);
    return integerVal;
}

fn @cast(Number) : string {
    return (string)(int)(Integer)self;
}

->main {
    var Number num = new Number(100);
    println((string)num);
    println("Hello, World!");
}

