@require"std/io"
@require"std/convert"

->main {
    var double d = 3.546879874986;
    var float f = 3.14151;
    var int i = 5979874;

    println("d: " + (string)d);
    println("f: " + (string)f);
    println("i: " + (string)i);

    println("d->f: " + (string)(float)d);
    println("d->i: " + (string)(int)d);

    println("f->d: " + (string)(double)f);
    println("f->i: " + (string)(int)f);

    println("i->d: " + (string)(double)i);
    println("i->f: " + (string)(float)i);
}

