@require"std/io"
@require"std/convert"

fn repeat_str(string what, int times) : string {
    var string res = "";
    println("[debug] repeat_str.what = " + what);
    println("[debug] repeat_str.times = " + (string)times);
    for (var int i = 0; i < times; i += 1)
    {
        res += what;
        if (i > 50)
        {
            println("[REPEAT_STR_FOR] You've reached the repeat limit of 50");
            break;
        }
        if (i > 50)
        {
            println("[ERROR] Should be unreachable");
        }
    }
    return res;
}

fn repeat_str_while(string what, int times) : string {
    var string res = "";
    var int i = 0;
    while (true) {
        res += what;
        i += 1;
        if (i > 50)
        {
            println("[REPEAT_STR_WHILE] You've reached the repeat limit of 50");
            break;
        }
        if (i > 50)
        {
            println("[ERROR] Should be unreachable");
        }
    }

    return res;
}

fn mult_table(int size) : void {
    for (var int i = 1; i <= size; i += 1)
    {
        for (var int j = 1; j <= size; j += 1)
        {
            print((string)(i * j) + "    ");
        }
        println("");
        if (i == 5)
        {
            break;
        }
    }
}

->main {
    var string repeated = repeat_str("moa", 55);
    println("repeated: " + repeated);
    var string wrepeated = repeat_str_while("meow", 55);
    println("wrepeated: " + wrepeated);
    mult_table(10);
}

