@require"std/io"
@require"std/convert"

fn repeat_str(string what, int times) : string {
    var string res = "";
    println("[debug] repeat_str.what = " + what);
    println("[debug] repeat_str.times = " + (string)times);
    for (var int i = 0; i < times; i = i + 1)
    {
        println("adding " + what + " #" + (string)i + " time");
        res = res + what;
    }
    return res;
}

fn repeat_str_while(string what, int times) : string {
    var string res = "";
    var int i = 0;
    while (true) {
        res = res + what;
        i = i + 1;
        if (i >= times) return res;
    }

    return res;
}

->main {
    var string repeated = repeat_str("moa", 10);
    println("repeated: " + repeated);
    var string wrepeated = repeat_str_while("meow", 5);
    println("wrepeated: " + wrepeated);
}

