@require"std/io"
@require"std/convert"

typedf List<?ID, ?T> = list<T>;

fn @construct List<?ID, ?T>(ID identifier) {
    println("created list with id: " + (string)identifier);
    return []T{};
}

fn List.addItem<?ID, ?T>(T item) : void {
    println("adding item: " + (string)item);
}

->main {
    var List<string, float> l = new List<string, float>("some_id");
    l.addItem(5.14);
    return l;
}

