
typedf String = list<int>;

fn @construct String(list<int> chars) {
    return chars;
}

->main {
    var String msg = new String([]int{103, 56, 35});
    var list<String> msgs = []String{msg};
    return msgs;
}

->multi_list {
    var list<list<int>> tbls = []list<int>{
        []int{1, 2, 3},
        []int{4, 5, 6}
    };
    return tbls;
}

