@extern fn cprintln(string message) : void;
@extern fn cprint(string message) : void;

export fn println(string message) : void {
    cprintln(message);
}

export fn print(string message) : void {
    cprint(message);
}